*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
**/.cxx/
local.properties
app/src/debug/assets/models/**/*.bin
app/src/debug/assets/models/**/*.gguf
app/src/main/assets/models/**/*.bin
app/src/main/assets/models/**/*.gguf
